{% set pageTitle = this.title ?? t('app', 'Web & Mobile Development Company in Penang') %}
{% set companyName = t('app', 'Trinalusion') %}
{% set fullPageTitle = string.strtr('{title} | {company}', {title: pageTitle, company:companyName}) %}
{{- void(this.beginPage()) -}}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}" />
    <meta name="description" content="Mobile Apps and Website Development Penang service in Penang, Malaysia. Call Us now!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{{ url(['/static/images/favicon.png']) }}" />
    <link rel="shortcut icon" type="image/png" href="{{ url(['/static/images/favicon.png']) }}" />
    <link rel="canonical" href="{{ url.canonical() }}" />
    <title>{{ fullPageTitle|e }}</title>
    {{ this.head() }}
    {{ html.csrfMetaTags() | raw }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130205508-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-130205508-2');
    </script>
    <meta name="google-site-verification" content="D7l3dxpSXAszhX_XB3haWbnRCuktxa5DvxXvO2__Atk" />
</head>
<body>
    {{ this.beginBody() }}
        {%- block _clear_body %}{% endblock %}
    {{ this.endBody() }}
</body>
</html>
{{- void(this.endPage()) -}}