{{ set(this, 'title', t('app', 'Affordable Share Hosting Malaysia')) }}
{{- beginBlock('banner') -}}
<h1>Linux Shared Hosting<br /><small class="text-muted">Easy & Affordable</small></h1>
{{- endBlock() -}}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="mr-2 mb-5 p-2 text-center border">
                    <h3>{{ t('app', 'Basic') }}</h3>
                    <h4>RM15.00<small class="text-muted">/mo</small></h4>
                    <p><del>{{ t('app', 'Normally {price}', {price: 'RM20.00'}) }}</del></p>
                    
                    <div class="px-5 py-3">
                        <a class="btn btn-primary btn-block" href="{{ url(['/contact']) }}">{{ t('app', 'Contact Us') }}</a>
                    </div>
                    <div class="spec">
                        <div class="py-2">{{ t('app', 'Domain not included*') }}</div>
                        <div class="py-2">{{ t('app', '{unit} Disk Space', {unit: '2GB'}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Monthly Data Transfer', {unit: '5GB'}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Email Accounts', {unit: '5'}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Subdomain', {unit: '5'}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Addon Domain', {unit: '0'}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Parked Domain', {unit: '0'}) }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mr-2 mb-5 p-2 text-center border border-dark">
                    <h3>Plus</h3>
                    <h4>RM25.00<small class="text-muted">/mo</small></h4>
                    <p><del>{{ t('app', 'Normally {price}', {price: 'RM33.00'}) }}</del></p>
                    <div class="px-5 py-3">
                        <a class="btn btn-primary btn-block" href="{{ url(['/contact']) }}">{{ t('app', 'Contact Us') }}</a>
                    </div>
                    <div class="spec">
                        <div class="py-2">{{ t('app', 'Domain not included*') }}</div>
                        <div class="py-2">{{ t('app', '{unit} Disk Space', {unit: '5GB'}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Monthly Data Transfer', {unit: '10GB'}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Email Accounts', {unit: t('app', 'Unlimited')}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Subdomain', {unit: '10'}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Addon Domain', {unit: '10'}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Parked Domain', {unit: '50'}) }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mr-2 mb-5 p-2 text-center border">
                    <h3>Pro</h3>
                    <h4>RM35.00<small class="text-muted">/mo</small></h4>
                    <p><del>{{ t('app', 'Normally {price}', {price: 'RM45.00'}) }}</del></p>
                    <div class="px-5 py-3">
                        <a class="btn btn-primary btn-block" href="{{ url(['/contact']) }}">{{ t('app', 'Contact Us') }}</a>
                    </div>
                    <div class="spec">
                        <div class="py-2">{{ t('app', 'Domain not included*') }}</div>
                        <div class="py-2">{{ t('app', '{unit} Disk Space', {unit: '10GB'}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Monthly Data Transfer', {unit: '50GB'}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Email Accounts', {unit: t('app', 'Unlimited')}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Subdomain', {unit: '50'}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Addon Domain', {unit: '50'}) }}</div>
                        <div class="py-2">{{ t('app', '{unit} Parked Domain', {unit: '500'}) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>