{{- beginBlock('banner') -}}
<h1>{{ t('app', 'Website & Mobile App') }}<br /><small class="text-muted">{{ t('app', 'Design and Development') }}</small></h1>
<p>{{ t('app', 'We provide professional custom design and development solution in Penang, Malaysia.') }}</p>
{{- endBlock() -}}
<section class="section-services">
    <div class="website" parallax="0.95">
        <div class="container py-5">
            <h1 class="display-5">{{ t('app', 'Website <br />Design & Development')|raw }}</h1>
            <p class="lead">
                {{ t('app', 'Advance custom website design and development service.') }}    
            </p>
            <a href="{{ url(['/website']) }}" class="btn btn-primary">{{ t('app', 'Learn More') }}</a>
        </div>
    </div>
    <div class="mobile-app" parallax="0.8">
        <div class="container py-5 text-right">
            <h1 class="display-5">{{ t('app', 'Mobile Apps') }}</h1>
            <p class="lead">
                {{ t('app', 'Full-cycle Android & IOS development services.') }}
            </p>
            <a href="{{ url(['/mobile-app']) }}" class="btn btn-primary">{{ t('app', 'Learn More') }}</a>
        </div>
    </div>
    <div class="hosting" parallax="0.75">
        <div class="container py-5">
            <h1 class="display-5">{{ t('app', 'Shared Hosting') }}</h1>
            <p class="lead">
                {{ t('app', 'Easy and affordable shared hosting.<br />
                Starting at only <b>{price}</b>', {price: 'RM15.00/mo'})|raw }}
            </p>
            <a href="{{ url(['/hosting']) }}" class="btn btn-primary">{{ t('app', 'Learn More') }}</a>
        </div>
    </div>
</section>
<section class="section-why"></section>
<section class="section-our-works"></section>