{{ beginBlock('section-contact') }}{{ endBlock() }}
<div class="page-thank-you">
    <section>
        <div class="container">
            <h2>{{ 'Thank You!'|t('app') }}</h2>
            <p>{{ 'You message had been sent,our team will come back with you shortly.'|t('app') }}</p>
            <a href="{{ url(['/']) }}" class="btn btn-primary">{{ 'Back to Home Page'|t('app') }}</a>
        </div>
    </section>
</div>